In [1]:
import pandas as pd
import numpy as np
import psycopg2 as pg
import pandas.io.sql as psql
import time
from datetime import date
from sqlalchemy import create_engine

In [10]:
#read in original excel file
price_file_df = pd.read_csv(r"C:\Users\Hao\Desktop\Data Analysis\Revzilla\Resources\test_price_file_1.csv")
price_file_df.head()

  vendor_sku       description    brand  retail_price  wholesale_price mfg_sku
0    123-456  Dainese Jacket 1  Dainese           100               50    D123
1    123-457  Dainese Jacket 2  Dainese           100               50    D124
2    123-458  Dainese Jacket 3  Dainese           100               50    D125
3    123-459  Dainese Jacket 4  Dainese           100               50    D126
4    123-460  Dainese Jacket 5  Dainese           100               50    D127

In [11]:
#convert original excel file to csv
#note this file path is a variable
output_file = (r'C:\Users\Hao\Desktop\Data Analysis\Revzilla\Resources\output_price_file.csv')
ss_og_df.to_csv(output_file, index=False, encoding='utf-8')

NameError: name 'ss_og_df' is not defined

In [12]:
#indetify all columns and their data types
price_file_df.dtypes

vendor_sku         object
description        object
brand              object
retail_price        int64
wholesale_price     int64
mfg_sku            object
dtype: object

In [14]:
#check for null/NaN values
price_file_df.isnull().values.any()

False

#find and replace commas and replace with space
ss_df = ss_df.replace(',',' ', regex=True)
ss_df.head()

In [15]:
#indentify the max charactors for each column to fit/build the SQL database
for column in price_file_df:
    print(column,"->", price_file_df[column].astype(str).str.len().max())

vendor_sku -> 7
description -> 17
brand -> 7
retail_price -> 3
wholesale_price -> 2
mfg_sku -> 4

In [12]:
#CREATE TABLE revzilla (
#	vendor_sku VARCHAR(63),
#	description VARCHAR(255),
#	brand VARCHAR(63),
#	retail_price INT,
#	wholesale_price INT,
#	mfg_sku VARCHAR(63)
#	);

In [17]:
#set easy to edit variables for logging into Postgres
host = "localhost"
port = "5432"
database = "revzilla"
user = "postgres"
password = "Titbon1!"

In [18]:
engine = create_engine('postgresql://'+user+':'+password+'@'+host+':'+port+'/'+database+'')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/revzilla)

In [19]:
price_file_df.to_sql('revzilla', con=engine, if_exists='replace')